<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мессенджер</title>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:text="|
        var id;
        let listOnline = ${idList};
        |">
    </script>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- Конструкция для всех страниц не вся -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<!-- *** *** *** *** *** *** *** -->
<body>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>


<div class="wrapper">
    <main class="page">
        <div class="page__main main-page">
            <div class="main-page__container">
                <div class="main-page__column">
                    <div class="main-page__row">
                        <div class="main-page__burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <input type="text" class="main-page__search" placeholder="search">
                    </div>
                    <div class="main-page__row">
                        <div class="main-page__chats main-chats">

                            <div th:class="|main-chats__item item-chat${chat.getActive()}|" th:id="${chat.getId()}" th:each="chat : ${chats}">
                                <div class="item-chat__column">
                                    <div th:class="|item-chat__avatar ${chat.online}|"><img src="img/avatars/main.jfif" th:alt="${chat.getName()}"></div>
                                </div>
                                <div class="item-chat__column">
                                    <div class="item-chat__name" th:text="${chat.getName()}"></div>
                                    <div class="item-chat__lastMessage" th:text="${chat.getLastMessage()}"></div>
                                </div>
                                <div class="item-chat__column">
                                    <div class="item-chat__row">
                                        <div class="item-chat__status"></div>
                                        <div class="item-chat__time" th:text="${chat.getLastMessageTime()}"></div>
                                    </div>
                                    <div class="item-chat__qtyMessages"><span>2</span></div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="main-page__newChat"></div>
                </div>

                <div class="main-page__column">

                    <div class="main-page__chat chat-main"></div>

                </div>
            </div>

        </div>
    </main>
</div>
<script src="js/app.min.js"></script>
<script src="/app.js"></script>
<!-- Конструкция для всех страниц -->
<div th:insert="blocks/server-client :: server-client1"></div>
<div th:insert="blocks/server-client :: server-client2"></div>
<!-- *** *** *** *** *** *** *** -->

</body>
</html>