<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать | WECHAT</title>
</head>
<body>

    <h4><em>Login</em></h4>
    <form action="/login" method="post">
        <div class="text-field">
            <label class="text-field__label"> Phone number </label>
            <input class="text-field__input" type="text" name="phonenumber"/></div>
        <div class="text-field">
            <label class="text-field__label"> Password </label>
            <input class="text-field__input" type="password" name="password"/></div>
        <div><input type="submit" class="submit-button" value="Sign In"/></div>
    </form>

</body>
</html>